<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/inicio">UCAD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="estaLogueado()">
          <li class="nav-item">
            <a class="nav-link" href="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Facultad de Teologia">Facultad de Teologia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Facultad de Humanidades">Facultad de Humanidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Facultad de Jurisprudencia">Facultad de Jurisprudencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Facultad Economica">Facultad de Economia</a>
          </li>
        </ng-container>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item" style="margin-left: 1400px;" *ngIf="!estaLogueado()">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" style="margin-left: 0px;" *ngIf="estaLogueado()">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>